<main>
  <div class="mb-4 mt-20 flex items-center justify-between">
    <p class="text-lg text-slate-600">Open job positions</p>
    <app-button
      [text]="'Create new position'"
      routerLink="/jobs/new"
    ></app-button>
  </div>
  @if (isLoading) {
    @for (i of [0, 1, 2]; track i) {
      <app-skeleton-loader></app-skeleton-loader>
    }
  } @else {
    @for (item of jobs; track item.id) {
      <app-job-item
        [jobItem]="item"
        (handleClick)="handleClick(item.id!)"
        (handleDelete)="handleDelete(item.id!)"
      >
      </app-job-item>
    }
  }
</main>
